<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/Styles/register.css">
</head>
<body>
<div class="form-container">
    <form action="front?controller=register" method="post">
        <div class="form-field">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label id="nameError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
            <label id="birthdateError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label id="emailError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label id="passwordError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <label id="confirm_passwordError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="job">Job:</label>
            <input type="text" id="job" name="job">
            <label id="jobError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="creditLimit">Credit Limit:</label>
            <input type="number" id="creditLimit" name="creditLimit" min="0" required>
            <label id="creditLimitError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
            <label id="cityError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required>
            <label id="countryError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="streetNumber">Street Number:</label>
            <input type="text" id="streetNumber" name="streetNumber" required>
            <label id="streetNumberError" class="error-message"></label>
        </div>
        <div class="form-field">
            <label for="streetName">Street Name:</label>
            <input type="text" id="streetName" name="streetName" required>
            <label id="streetNameError" class="error-message"></label>
        </div>
        <div class="form-field">
            <input type="submit" value="Register">
        </div>
    </form>
</div>
<script src="assets/Scripts/validateRegistration.js"></script>
</body>
</html>